windows/.obsidian/workspace.json
windows/.obsidian/core-plugins.json
windows/.obsidian/appearance.json
windows/.obsidian/graph.json
windows/.obsidian/plugins/vscode-editor/data.json
linux/.config/binwalk/
